/node_modules
/public/hot
/public/storage
/storage/*.key
/storage/api-docs
/storage/medialibrary
/storage/media-library
/storage/fonts/*
/vendor
.env
.env.backup
.env.testing
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.DS_Store
.idea/
.scannerwork/
build/
composer.phar
.vapor/
.env.development
.env.production
.env.acceptance
database/schema/
